@page
@model IndexModel
@inject Webshop.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome, @accessControl.LoggedInAccountName!</h1>

<table>
@foreach (var product in Model.Products)
{
    <tr>
        <td>
            @Html.DisplayFor(item => product.Name)
        </td>
    </tr>
}
</table>
